.about-me {
  width: 100%;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  display: flex;
  margin-top: 15px;
  flex-direction: row;
  height: 23rem;
  align-items: center;
  padding: 5%;
}

.text-flag {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span a {
  text-decoration: none;
  color: black;
}

span a:hover {
  color: #fa5679;
}

span a .fa-2x {
  margin: 10px;
  transition: transform 0.2s;
}

span a .fa-2x:hover {
  transform: scale(1.2);
}

.typewriter {
  background: #fa5679;
  font-weight: normal;
  border-radius: 10px;
  font-size: x-large;
  padding: 10px;
  border-bottom: 5px solid;
}

.about-image {
  border-radius: 100%;
  width: 8.9rem;
  height: 10.6rem;
  margin-right: 50px;
  box-shadow: 5px 5px;
}

.about-image:hover {
  box-shadow: 5px 5px rgb(92, 4, 121);
}

.text-muted {
  color: rgba(65, 16, 122, 0.9);
}

.portfolio-block {
  clear: none;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding-top: 40px;
    height: 80vh;
    padding-bottom: 100px;
  }
  .about-image {
    margin-bottom: 20px;
    margin-right: 0;
    width: 7.9rem;
    height: 9.6rem;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .about-image {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .about-image {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 280px) and (min-width: 280px) {
  .about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
  }
  .about-image {
    margin-bottom: 20px;
    margin-right: 0;
  }
}

@media screen and (max-width: 720px) and (min-width: 540px) {
  .about-image {
    margin-bottom: 20px;
    margin-right: 0;
    width: 5.9rem;
    height: 7.6rem;
  }
  .about-me {
    padding-top: 81px;
    height: 95vh;
    padding-bottom: 100px;
  }
}
