.section {
  clear: none;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  left: 0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
  left: 50%;
}

.interns {
  font-size: 1.25rem;
  line-height: 2rem;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .interns {
    width: 100%;
  }
}
