.vertical-timeline-element-title,
.vertical-timeline-element-subtitle,
.vertical-timeline-element--work p {
  color: black !important;
  text-align: left;
}

.activities {
  margin-top: 100px !important;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .vertical-timeline-element--work {
    color: black;
  }
  .workIcon {
    width: 40px !important;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .vertical-timeline-element--work {
    color: black;
  }
  .workIcon {
    width: 40px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .vertical-timeline-element--work {
    color: black !important;
  }
}

@media screen and (max-width: 280px) and (min-width: 280px) {
  .vertical-timeline-element--work {
    color: black !important;
  }
}
