.vertical-timeline-element-title,
.vertical-timeline-element-subtitle,
.vertical-timeline-element--work p {
  color: white !important;
  text-align: left;
}
.vertical-timeline::before {
  background: rgba(255, 255, 255, 0.5) !important;
}

.vertical-timeline-element-content {
  box-shadow: 0 5px 0 rgb(194 35 194) !important;
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid rgba(255, 255, 255, 0.1) !important;
}

.vertical-timeline-element--work li {
  color: white;
}

.vertical-timeline-element-title {
  margin-top: 30px !important;
}

.vertical-timeline-element-subtitle {
  color: rgb(214, 212, 212) !important;
  font-size: large;
}

.vertical-timeline-element--work a {
  color: #e28e11;
}

.tag {
  margin-top: 20px !important;
  color: black;
  border-radius: 50px;
  padding: 8px;
  margin-left: 5px;
  display: inline-block;
  font-size: medium;
}

.activities {
  margin-top: 100px !important;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .vertical-timeline-element-subtitle {
    visibility: visible;
    display: block;
  }
  .workIcon {
    width: 40px !important;
  }
}

@media screen and (max-width: 768px) {
  .vertical-timeline-element-subtitle {
    visibility: visible;
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .workIcon {
    width: 60px !important;
  }
}
