@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap");
html,
body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Gill Sans", Arial, Helvetica, sans-serif, "Gill Sans MT",
    "Trebuchet MS";
  font-weight: 400;
  line-height: 1.5;
  font-size: 115%;
  text-align: left;
}
html {
  /*min-width: 550px;*/
  scroll-behavior: smooth;
  --scrollbarBG: rgb(195, 35, 194);
  --thumbBG: rgb(255, 255, 255);
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}

@media (max-width: 600px) {
  html,
  body {
    font-size: 3.5vw;
  }
}

.color {
  background: rgb(99, 34, 195);
  background: linear-gradient(
    0deg,
    rgb(70, 8, 161) 0%,
    rgb(107, 24, 190) 50%,
    rgb(137, 77, 160) 100%
  );
  clear: none;
  color: white;
  width: 100vw;
  position: relative;
  padding-bottom: 50px;
  margin-left: -50vw;
  left: 50%;
}
