.image {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.caption {
  width: 70%;
  max-width: 700px;
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #e69a8d;
  border-radius: 20px;
  color: black;
}

.photoGallery {
  clear: none;
  padding-top: 50px;
  padding-bottom: 100px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  left: 0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
  left: 50%;
}
