.image {
  width: 100%;
  max-width: 800px;
  height: 29rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 100px;
}

.caption {
  width: 70%;
  max-width: 700px;
  font-family: "Overpass", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 20px;
  color: white;
  border: 5px solid rgb(194, 35, 194);
}

.photoGallery {
  clear: none;
  padding-top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  color: white;
  left: 0;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 100px;
  margin-bottom: 60px;
  padding-bottom: 110px;
  left: 50%;
}

@media screen and (max-width: 768px) {
  .image {
    height: 20rem;
  }
}
