.button {
  background-color: #7f43c4 !important;
  color: white !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border: 0;
}

.upper {
  border-top: 2px solid rgb(231, 130, 14);
}

.project {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  color: white;
  border-left: 10px solid rgb(194, 35, 194);
  border-top: 10px solid rgb(194, 35, 194);
  border-right: 10px solid rgb(194, 35, 194);
}

.icon-text {
  display: flex;
  flex-direction: row;
}

.projects-box .project a {
  text-decoration: none;
}

.ptitle {
  padding-left: 20px;
  padding-top: 20px;
  font-size: xx-large;
  max-width: 80%;
  text-align: left;
}

.description {
  text-align: left;
  margin-bottom: -20px;
  padding-right: 10px;
}

.semicircle {
  color: white;
  border-left: 40px solid rgb(194, 35, 194);
  width: 12rem;
  padding: 3%;
  border-radius: 0 150px 150px 0;
  background-color: rgb(137, 41, 192);
  transition: width 1s;
  display: table;
}

.semicircle > .text-in {
  display: table-cell;
  vertical-align: middle;
}

.semicircle:hover {
  width: 15rem;
}

.projects-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

section div hr {
  background-color: rgb(194, 35, 194);
}

.upper:hover {
  border-top: 2px solid rgb(235, 37, 11);
}

.card {
  background: rgb(255, 255, 255, 0.2);
  color: white;
}

.card-text {
  font-size: large;
}

.moreInfo {
  text-decoration: none;
  color: white;
  padding: 19px;
  border-radius: 5px;
  background-color: rgb(194, 35, 194) !important;
}

.moreInfo:hover {
  background-color: #6423b3 !important;
  color: white !important;
  text-decoration: none;
}

.span {
  display: flex;
  flex-direction: row;
}

.card-img-top {
  object-fit: fill;
  border-radius: 5px;
  width: 12rem;
  height: 8.5rem;
  margin: 30px;
  margin-top: 10px;
}

.projects {
  clear: none;
  color: white;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .ptitle {
    font-size: x-large;
  }

  .project {
    border-left: 5px solid rgb(194, 35, 194);
    border-top: 5px solid rgb(194, 35, 194);
    border-right: 5px solid rgb(194, 35, 194);
  }

  .projects-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .card-img-top {
    width: 9rem;
    height: 7.5rem;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .projects-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .projects-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .description {
    width: 50%;
  }

  .card-img-top {
    height: 7.5rem;
  }
}

@media screen and (max-width: 280px) and (min-width: 280px) {
  .ptitle {
    font-size: large;
  }

  .project {
    border-left: 5px solid rgb(194, 35, 194);
    border-top: 5px solid rgb(194, 35, 194);
    border-right: 5px solid rgb(194, 35, 194);
  }

  .projects-box {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
  }

  .card-img-top {
    width: 9rem;
    height: 7.5rem;
  }
}
