.button {
  background-color: #007cc7;
  color: white !important;
}

.button:hover {
  background-color: black;
}

.card {
  background-color: #203647 !important;
}

.card:hover {
  border: 3px solid #007cc7 !important;
}

.moreInfo {
  text-decoration: none;
  color: white;
  border: 1px solid white !important;
  padding: 10px;
  border-radius: 5px;
}

.moreInfo:hover {
  background-color: black;
  border-color: #2b4162 !important;
  color: white !important;
}
