.heading {
  font-family: "Overpass", sans-serif;
  text-decoration: underline;
  margin-bottom: 50px;
  color: white;
  padding-top: 60px;
}

h2 {
  font-size: 70px;
}

.skills {
  position: relative;
  clear: none;
  display: flex;
  justify-content: space-between;
}

.box {
  padding: 40px;
  border-radius: 10px;
  background-color: #9d6bb6;
  margin-right: 10px;
  width: 25%;
}

.illus {
  width: 5.5rem;
}

@media screen and (max-width: 768px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-bottom: 15px;
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1366px) and (min-width: 1024px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-bottom: 15px;
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 768px) and (min-width: 768px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-bottom: 15px;
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
}

@media screen and (max-width: 280px) and (min-width: 280px) {
  .skills {
    display: flex;
    flex-direction: column;
  }
  .box {
    margin-bottom: 15px;
    width: 100%;
  }
  h2 {
    font-size: 40px;
  }
}
