.heading {
  font-family: "Overpass", sans-serif;
  text-decoration: underline;
  margin-bottom: 50px;
  color: white;
  padding-top: 60px;
}

h2 {
  font-size: 3.5em;
}

.skills {
  position: relative;
  clear: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.box {
  flex: 1 1 20%;
  padding: 40px;
  border-radius: 10px;
  background-color: #9d6bb6;
  box-shadow: 10px 10px rgb(194, 35, 194);
  transition: box-shadow 0.5s;
}

.box:hover {
  box-shadow: 20px 20px rgb(194, 35, 194);
}

.illus {
  width: 5.5rem;
}
